SPLUNK_ACCESS_TOKEN=<YOUR ACCESS TOKEN>
SPLUNK_API_URL=https://api.<YOUR REALM>.signalfx.com
SPLUNK_INGEST_URL=https://ingest.<YOUR REALM>.signalfx.com
SPLUNK_TRACE_URL=https://ingest.<YOUR REALM>.signalfx.com/v2/trace

